# Analyzing the situation between 29.01.2020 and 31.07.2020 with Covid-19 in Russia and making some prediction for the future

## 1.Intoduction: Covid-19 in Russia

The COVID-19 pandemic, also known as the coronavirus pandemic, is an ongoing pandemic of coronavirus disease 2019 (COVID-19) caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The disease was first identified in December 2019 in Wuhan, China,became a Public Health Emergency of International Concern in January 2020, and subsequently recognised as a pandemic. As of 28 September 2020, more than 33.1 million cases have been reported worldwide, although the true number of cases is likely to be much higher. A better indicator for case spread is the more than 998,000 deaths attributed to COVID-19.

The disease spreads between people most often when they are physically close.It spreads very easily and sustainably through the air, primarily via small droplets or particles such as aerosols, produced after an infected person breathes, coughs, sneezes, talks or sings. It may also be transmitted via contaminated surfaces, although this has not been conclusively demonstrated. It can spread for up to two days prior to symptom onset, and from people who are asymptomatic. People remain infectious for 7–12 days in moderate cases, and up to two weeks in severe cases.
Common symptoms include fever, cough, fatigue, shortness of breath or breathing difficulties, and loss of smell. Complications may include pneumonia and acute respiratory distress syndrome. The incubation period is typically around five days but may range from one to 14 days. There are several vaccine candidates in development, although none have completed clinical trials to prove their safety and efficacy. There is no known specific antiviral medication, so primary treatment is currently symptomatic.

The COVID-19 pandemic in Russia is part of the ongoing pandemic of coronavirus disease 2019 (COVID-19) caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The virus was confirmed to have spread to Russia on 31 January 2020, when two Chinese citizens in Tyumen (Siberia) and Chita (Russian Far East) tested positive for the virus, with both cases being contained. Early prevention measures included restricting the border with China and extensive testing. The infection spread from Italy on 2 March, leading to additional measures such as cancelling events, closing schools, theatres, and museums, as well as shutting the border and declaring a non-working period which, after two extensions, lasted until 11 May 2020. By the end of March 2020, the vast majority of federal subjects, including Moscow, had imposed lockdowns. By 17 April 2020, cases had been confirmed in all federal subjects.

Russia currently has the highest number of confirmed cases in Europe, and the fourth-highest in the world after the United States, India, and Brazil. According to figures from the national coronavirus crisis centre, as of 28 September 2020, Russia has 1,159,573 confirmed cases, 945,920 recoveries, 20,385 deaths, and over 45.4 million tests performed. According to mortality data published by the Federal State Statistics Service, 37,490 people with COVID-19 died from April to July 2020, with the virus determined or assumed to have been the main cause of death for 22,063 of them.

Sources: (https://en.wikipedia.org/wiki/COVID-19_pandemic) 
        (https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Russia)

## 2. Data description and objectives

In this alalysis I am interested in analyzing Covid-19 situation in Russia.It is is fascinating to observe the dynamic of Covid-19 in Russia throw months.

All data is taken from kaggle.com website : https://www.kaggle.com/kapral42/covid19-russia-regions-cases?select=isolation_daily.csv 

My analysis will be based on data from the 29th January to the 31st July of 2020. Below is data that I will use for my analysis.

+ Region_ID - ID of the regions for table matching.
+ Region - region name in Russian
+ Region Eng - region names in English
+ Population - region population
+ Day-Confirmed - confirmed cases for the day
+ Day-Death - death cases for the day
+ Day-Recovered - recovered cases for the day
+ Confirmed - sum of confirmed cases in the region presently(cumulative)
+ Deaths - sum of death cases in the region presently(cumulative)
+ Recovered - sum of recovered cases in the region presently(cumulative)
+ Tests - number of performed tests (cumulative)
+ Control - people under medical control (cumulative)
+ Control_active - people under medical cintrol at given day
+ Recovered - people who recovered from Imported_SARS (cumulative)
+ Isol_idx - Self-Isolation index

In this project, I will try to answer for the main 5 questions:

1. What was the situation of Covid-19 spreading in Russian regions between 29.01.2020 and 31.07.2020?
2. Which regions was the most affected by Covid-19?
3. What was the impact of Covid - 19 on Russian society and economy?
4. Will Russia be ready for the second wave of Covid-19?
5. What is the future prediction for Covid-19 spreading Russian regions?

## 3. Data manipulation: cleaning and shaping

First of all, we need to go through all Russian regions data list and see what we are dealing with.

In [1]:
# importing main libraries
import numpy as np
import pandas as pd

In [2]:
# creating dataframes for all data that I need
#data frame of the information about the Russian regions like  its id, name,population and etc.
reg_info_df = pd.read_csv('regions-info.csv')

#data frame of the info about amount of tests, people under control and etc.
reg_control_df = pd.read_csv('covid19-tests-and-other.csv')

#data frame of the info about deaths, recovered people and etc.
rus_cases_df = pd.read_csv('covid19-russia-cases-scrf.csv')

#data frame of the info about isolation indexes of all Russian regions 
isol_df = pd.read_csv('isolation_daily.csv')

#### Now let's look at all data of each data frame, drop all colums we don't need and change missing values with NaN values where it is possible

In [3]:
reg_info_df.head()

,Region_ID,Region,Region_eng,Population,Rus_perc,Urban_pop,Urban_pop_perc,Rural_pop,Rural_pop_perc,Area,Density_pop_sqkm,Federal_district,Latitude,Longitude
0,0,Россия,Russia,146745098,100,109326899,"74,5",37553533,"25,59",17125191,"8,57",РФ,64.686314,97.745306
1,77,Москва,Moscow,12692466,"8,65",12342615,"97,24",163853,"1,29",2561,"4956,06",ЦФО,55.479205,37.327330
2,50,Московская область,Moscow region,7687647,"5,24",6123573,"79,65",1379812,"17,95",44329,"173,42",ЦФО,55.504316,38.035393
3,23,Краснодарский край,Krasnodar region,5677786,"3,87",3075168,"54,16",2528252,"44,53",75485,"75,22",ЮФО,45.768401,39.026104
4,78,Санкт-Петербург,St. Petersburg,5392992,"3,68",5351935,"99,24",0,0,1403,"3843,9",СЗФО,59.960674,30.158655

In [4]:
# As you can see we have unnecessary columns, Federal district is not related to my project and I don't need column "Area",
# because I've already had density population per square km. So we'll drop them 
# I left region names in russian for better orientation for future
reg_info_df.drop(['Federal_district','Area'],axis='columns', inplace = True)
reg_info_df.head()

,Region_ID,Region,Region_eng,Population,Rus_perc,Urban_pop,Urban_pop_perc,Rural_pop,Rural_pop_perc,Density_pop_sqkm,Latitude,Longitude
0,0,Россия,Russia,146745098,100,109326899,"74,5",37553533,"25,59","8,57",64.686314,97.745306
1,77,Москва,Moscow,12692466,"8,65",12342615,"97,24",163853,"1,29","4956,06",55.479205,37.327330
2,50,Московская область,Moscow region,7687647,"5,24",6123573,"79,65",1379812,"17,95","173,42",55.504316,38.035393
3,23,Краснодарский край,Krasnodar region,5677786,"3,87",3075168,"54,16",2528252,"44,53","75,22",45.768401,39.026104
4,78,Санкт-Петербург,St. Petersburg,5392992,"3,68",5351935,"99,24",0,0,"3843,9",59.960674,30.158655

In [5]:
#There we don't have any missing values
reg_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region_ID         86 non-null     int64
 1   Region            86 non-null     object
 2   Region_eng        86 non-null     object
 3   Population        86 non-null     int64
 4   Rus_perc          86 non-null     object
 5   Urban_pop         86 non-null     int64
 6   Urban_pop_perc    86 non-null     object
 7   Rural_pop         86 non-null     int64
 8   Rural_pop_perc    86 non-null     object
 9   Density_pop_sqkm  86 non-null     object
 10  Latitude          86 non-null     float64
 11  Longitude         86 non-null     float64
dtypes: float64(2), int64(4), object(6)
memory usage: 8.2+ KB

In [6]:
# Just to know how many rows do I have
reg_control_df.shape

(185, 10)

In [7]:
#All Nan values are part of column with cumulative data, which means if the row is Nan, the number of observations stay the same as previous 
reg_control_df.loc[30:50]

,Date,Tests,Control,Control_active,Isolated,Imported_SARS,Recovered,Isolators,Isolators_active,Mos_self_isolat_idx
30,28.02.2020,32885.0,NaN,8414.0,443.0,1163.0,471.0,NaN,NaN,NaN
31,29.02.2020,NaN,NaN,8681.0,375.0,1177.0,474.0,NaN,NaN,NaN
32,01.03.2020,NaN,NaN,NaN,321.0,1222.0,826.0,NaN,NaN,NaN
33,02.03.2020,NaN,NaN,7418.0,270.0,1232.0,859.0,NaN,NaN,0.5
34,03.03.2020,42776.0,NaN,8053.0,247.0,1236.0,859.0,NaN,NaN,0.4
35,04.03.2020,46414.0,NaN,7341.0,226.0,1280.0,871.0,NaN,NaN,0.4
36,05.03.2020,51366.0,NaN,7594.0,164.0,1314.0,938.0,NaN,NaN,0.3
37,06.03.2020,55688.0,NaN,NaN,120.0,1401.0,1165.0,NaN,NaN,0.4
38,07.03.2020,NaN,NaN,8373.0,120.0,1492.0,1227.0,NaN,NaN,1.8
39,08.03.2020,59960.0,NaN,9276.0,98.0,1518.0,1235.0,NaN,NaN,2.4
40,09.03.2020,63191.0,NaN,9882.0,86.0,1576.0,NaN,NaN,NaN,2.3
41,10.03.2020,70601.0,NaN,11557.0,90.0,1588.0,1291.0,NaN,NaN,0.5
42,11.03.2020,76963.0,NaN,12577.0,97.0,1614.0,1318.0,NaN,NaN,0.4
43,12.03.2020,NaN,NaN,NaN,86.0,1786.0,1374.0,NaN,NaN,0.4
44,13.03.2020,NaN,45962.0,14104.0,86.0,1824.0,NaN,24722.0,8516.0,0.5
45,14.03.2020,104883.0,47569.0,14742.0,86.0,1908.0,NaN,24685.0,8516.0,1.9
46,15.03.2020,109939.0,48844.0,15021.0,82.0,1953.0,NaN,24834.0,8572.0,2.7
47,16.03.2020,116061.0,50376.0,16401.0,119.0,1993.0,NaN,25091.0,8607.0,0.7
48,17.03.2020,122854.0,53013.0,17904.0,192.0,2079.0,NaN,25335.0,8823.0,0.8
49,18.03.2020,133101.0,56991.0,22178.0,146.0,2210.0,NaN,25376.0,8879.0,0.9
50,19.03.2020,143519.0,62541.0,27487.0,170.0,2398.0,NaN,23962.0,8959.0,1.0

In [8]:
# Because of the fact that first row is empty, I replaced them by 0 and full filled next rows by the cumulative principle
reg_control_df.head(1).replace(np.nan,0,inplace =True)
reg_control_df.fillna(method='ffill',inplace = True)
reg_control_df.loc[30:50]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Date,Tests,Control,Control_active,Isolated,Imported_SARS,Recovered,Isolators,Isolators_active,Mos_self_isolat_idx
30,28.02.2020,32885.0,0.0,8414.0,443.0,1163.0,471.0,0.0,0.0,0.0
31,29.02.2020,32885.0,0.0,8681.0,375.0,1177.0,474.0,0.0,0.0,0.0
32,01.03.2020,32885.0,0.0,8681.0,321.0,1222.0,826.0,0.0,0.0,0.0
33,02.03.2020,32885.0,0.0,7418.0,270.0,1232.0,859.0,0.0,0.0,0.5
34,03.03.2020,42776.0,0.0,8053.0,247.0,1236.0,859.0,0.0,0.0,0.4
35,04.03.2020,46414.0,0.0,7341.0,226.0,1280.0,871.0,0.0,0.0,0.4
36,05.03.2020,51366.0,0.0,7594.0,164.0,1314.0,938.0,0.0,0.0,0.3
37,06.03.2020,55688.0,0.0,7594.0,120.0,1401.0,1165.0,0.0,0.0,0.4
38,07.03.2020,55688.0,0.0,8373.0,120.0,1492.0,1227.0,0.0,0.0,1.8
39,08.03.2020,59960.0,0.0,9276.0,98.0,1518.0,1235.0,0.0,0.0,2.4
40,09.03.2020,63191.0,0.0,9882.0,86.0,1576.0,1235.0,0.0,0.0,2.3
41,10.03.2020,70601.0,0.0,11557.0,90.0,1588.0,1291.0,0.0,0.0,0.5
42,11.03.2020,76963.0,0.0,12577.0,97.0,1614.0,1318.0,0.0,0.0,0.4
43,12.03.2020,76963.0,0.0,12577.0,86.0,1786.0,1374.0,0.0,0.0,0.4
44,13.03.2020,76963.0,45962.0,14104.0,86.0,1824.0,1374.0,24722.0,8516.0,0.5
45,14.03.2020,104883.0,47569.0,14742.0,86.0,1908.0,1374.0,24685.0,8516.0,1.9
46,15.03.2020,109939.0,48844.0,15021.0,82.0,1953.0,1374.0,24834.0,8572.0,2.7
47,16.03.2020,116061.0,50376.0,16401.0,119.0,1993.0,1374.0,25091.0,8607.0,0.7
48,17.03.2020,122854.0,53013.0,17904.0,192.0,2079.0,1374.0,25335.0,8823.0,0.8
49,18.03.2020,133101.0,56991.0,22178.0,146.0,2210.0,1374.0,25376.0,8879.0,0.9
50,19.03.2020,143519.0,62541.0,27487.0,170.0,2398.0,1374.0,23962.0,8959.0,1.0

In [9]:
#Removing column I don't need
reg_control_df.drop(['Mos_self_isolat_idx'],axis='columns', inplace = True)
reg_control_df.head()

,Date,Tests,Control,Control_active,Isolated,Imported_SARS,Recovered,Isolators,Isolators_active
0,29.01.2020,0.0,0.0,0.0,0.0,184.0,0.0,0.0,0.0
1,30.01.2020,0.0,0.0,0.0,0.0,184.0,0.0,0.0,0.0
2,31.01.2020,0.0,0.0,0.0,0.0,236.0,0.0,0.0,0.0
3,01.02.2020,0.0,0.0,0.0,0.0,305.0,0.0,0.0,0.0
4,02.02.2020,0.0,0.0,0.0,0.0,360.0,0.0,0.0,0.0

In [10]:
#No missing values
reg_control_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              185 non-null    object
 1   Tests             185 non-null    float64
 2   Control           185 non-null    float64
 3   Control_active    185 non-null    float64
 4   Isolated          185 non-null    float64
 5   Imported_SARS     185 non-null    float64
 6   Recovered         185 non-null    float64
 7   Isolators         185 non-null    float64
 8   Isolators_active  185 non-null    float64
dtypes: float64(8), object(1)
memory usage: 13.1+ KB

In [11]:
rus_cases_df.head(10)
#We'll use all of the columns, so there are no unnecessary data

,Date,Region/City,Region/City-Eng,Region_ID,Day-Confirmed,Day-Deaths,Day-Recovered,Confirmed,Deaths,Recovered
0,2020-03-02,Московская область,Moscow region,50.0,1.0,0.0,0.0,1.0,0.0,0.0
1,2020-03-03,Московская область,Moscow region,50.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2020-03-04,Московская область,Moscow region,50.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2020-03-05,Московская область,Moscow region,50.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2020-03-06,Москва,Moscow,77.0,5.0,0.0,0.0,5.0,0.0,0.0
5,2020-03-06,Московская область,Moscow region,50.0,0.0,0.0,0.0,1.0,0.0,0.0
6,2020-03-06,Нижегородская область,Nizhny Novgorod Region,52.0,1.0,0.0,0.0,1.0,0.0,0.0
7,2020-03-07,Липецкая область,Lipetsk region,48.0,3.0,0.0,0.0,3.0,0.0,0.0
8,2020-03-07,Москва,Moscow,77.0,0.0,0.0,0.0,5.0,0.0,0.0
9,2020-03-07,Московская область,Moscow region,50.0,0.0,0.0,0.0,1.0,0.0,0.0

In [12]:
#There are no missing values
rus_cases_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12054 entries, 0 to 12053
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             12054 non-null  object
 1   Region/City      12054 non-null  object
 2   Region/City-Eng  12054 non-null  object
 3   Region_ID        12054 non-null  float64
 4   Day-Confirmed    12054 non-null  float64
 5   Day-Deaths       12054 non-null  float64
 6   Day-Recovered    12054 non-null  float64
 7   Confirmed        12054 non-null  float64
 8   Deaths           12054 non-null  float64
 9   Recovered        12054 non-null  float64
dtypes: float64(7), object(3)
memory usage: 941.8+ KB

In [13]:
isol_df.head()
# I want to split City_geo,Region_geo columns into separate latitude, longitude columns

,City,City_geo,City_pop,Date,Date_last,Region,Region_geo_id,Region_geo,Region_pop,Isol_idx,Isol_idx_minus_day,Isol_idx_minus_week
0,Сергиев Посад,"[56.315291, 38.135999]",103444,2020-06-15,Да,Москва и Московская область,1,"[55.815792, 37.380031]",7503385,1.3,2.1,1.6
1,Хасавюрт,"[43.246265, 46.590044]",141259,2020-06-15,Да,Республика Дагестан,11010,"[42.259793, 47.095742]",3063885,1.9,2.3,2.1
2,Петрозаводск,"[61.787374, 34.354325]",263639,2020-06-15,Да,Республика Карелия,10933,"[63.621324, 33.232608]",622484,1.1,2.7,1.3
3,Самара,"[53.195538, 50.101783]",1163399,2020-06-15,Да,Самарская область,11131,"[53.27635, 50.463301]",3193514,1.0,2.4,1.3
4,Котлас,"[61.25297, 46.633217]",61805,2020-06-15,Да,Архангельская область,10842,"[63.637517, 43.336661]",1111031,1.0,2.2,1.1

In [14]:
#First of all, I removed some characters from the columns
isol_df['Region_geo']= isol_df['Region_geo'].map(lambda x: x.lstrip('[').rstrip(']'))
isol_df['City_geo']= isol_df['City_geo'].map(lambda x: x.lstrip('[').rstrip(']'))
isol_df.head()

,City,City_geo,City_pop,Date,Date_last,Region,Region_geo_id,Region_geo,Region_pop,Isol_idx,Isol_idx_minus_day,Isol_idx_minus_week
0,Сергиев Посад,"56.315291, 38.135999",103444,2020-06-15,Да,Москва и Московская область,1,"55.815792, 37.380031",7503385,1.3,2.1,1.6
1,Хасавюрт,"43.246265, 46.590044",141259,2020-06-15,Да,Республика Дагестан,11010,"42.259793, 47.095742",3063885,1.9,2.3,2.1
2,Петрозаводск,"61.787374, 34.354325",263639,2020-06-15,Да,Республика Карелия,10933,"63.621324, 33.232608",622484,1.1,2.7,1.3
3,Самара,"53.195538, 50.101783",1163399,2020-06-15,Да,Самарская область,11131,"53.27635, 50.463301",3193514,1.0,2.4,1.3
4,Котлас,"61.25297, 46.633217",61805,2020-06-15,Да,Архангельская область,10842,"63.637517, 43.336661",1111031,1.0,2.2,1.1

In [15]:
#Then I splitted them into latitude and longitude columns
isol_df[['City_latitude','City_longitude']] = isol_df.City_geo.str.split(",",expand=True,)
isol_df[['Region_latitude','Region_longitude']] = isol_df.Region_geo.str.split(",",expand=True,)
isol_df.head()

,City,City_geo,City_pop,Date,Date_last,Region,Region_geo_id,Region_geo,Region_pop,Isol_idx,Isol_idx_minus_day,Isol_idx_minus_week,City_latitude,City_longitude,Region_latitude,Region_longitude
0,Сергиев Посад,"56.315291, 38.135999",103444,2020-06-15,Да,Москва и Московская область,1,"55.815792, 37.380031",7503385,1.3,2.1,1.6,56.315291,38.135999,55.815792,37.380031
1,Хасавюрт,"43.246265, 46.590044",141259,2020-06-15,Да,Республика Дагестан,11010,"42.259793, 47.095742",3063885,1.9,2.3,2.1,43.246265,46.590044,42.259793,47.095742
2,Петрозаводск,"61.787374, 34.354325",263639,2020-06-15,Да,Республика Карелия,10933,"63.621324, 33.232608",622484,1.1,2.7,1.3,61.787374,34.354325,63.621324,33.232608
3,Самара,"53.195538, 50.101783",1163399,2020-06-15,Да,Самарская область,11131,"53.27635, 50.463301",3193514,1.0,2.4,1.3,53.195538,50.101783,53.27635,50.463301
4,Котлас,"61.25297, 46.633217",61805,2020-06-15,Да,Архангельская область,10842,"63.637517, 43.336661",1111031,1.0,2.2,1.1,61.25297,46.633217,63.637517,43.336661

In [16]:
#And finally removed them and unnessary column Date_last
isol_df.drop(['City_geo','Region_geo','Date_last'],axis='columns', inplace = True)
isol_df.head()

,City,City_pop,Date,Region,Region_geo_id,Region_pop,Isol_idx,Isol_idx_minus_day,Isol_idx_minus_week,City_latitude,City_longitude,Region_latitude,Region_longitude
0,Сергиев Посад,103444,2020-06-15,Москва и Московская область,1,7503385,1.3,2.1,1.6,56.315291,38.135999,55.815792,37.380031
1,Хасавюрт,141259,2020-06-15,Республика Дагестан,11010,3063885,1.9,2.3,2.1,43.246265,46.590044,42.259793,47.095742
2,Петрозаводск,263639,2020-06-15,Республика Карелия,10933,622484,1.1,2.7,1.3,61.787374,34.354325,63.621324,33.232608
3,Самара,1163399,2020-06-15,Самарская область,11131,3193514,1.0,2.4,1.3,53.195538,50.101783,53.27635,50.463301
4,Котлас,61805,2020-06-15,Архангельская область,10842,1111031,1.0,2.2,1.1,61.25297,46.633217,63.637517,43.336661

In [17]:
#As you can see, we don't have missing values
isol_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38190 entries, 0 to 38189
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 38190 non-null  object
 1   City_pop             38190 non-null  int64
 2   Date                 38190 non-null  object
 3   Region               38190 non-null  object
 4   Region_geo_id        38190 non-null  int64
 5   Region_pop           38190 non-null  int64
 6   Isol_idx             38190 non-null  float64
 7   Isol_idx_minus_day   38190 non-null  float64
 8   Isol_idx_minus_week  38190 non-null  float64
 9   City_latitude        38190 non-null  object
 10  City_longitude       38190 non-null  object
 11  Region_latitude      38190 non-null  object
 12  Region_longitude     38190 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 3.8+ MB

### Now our data is ready for further manipulation